body
{
	display: flex;
	font-family: 'source_sans_proregular','source_sans_probold','source_sans_proitalic';
	margin: 0px;
}
li
{
	display: flex;
	list-style: none;
}

/*FONTS-----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-it-webfont.woff2') format('woff2'),
         url('sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.far
{
	color: #00897B;
}
.fa-graduation-cap, .fa-briefcase , .fa-pen, .fa-dot-circle
{
	color: #00897B;
}
.fa-gamepad, .fa-running , .fa-drum
{
	color: #4A148C;
	font-size: 2.5em;
}

/*ASIDE-----------------------------------------------------------------------------*/

aside
{
	margin: 0px;
	display: flex;
	flex-direction: column;
	background-color: #00897B;
	width: 20%;
	min-width: 20%;
}
figure
{
	margin : 0px;
}
figure p
{
	margin-top:0px;
	margin-bottom: 0px;
}
figure img
{
	margin-left: 55px;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 60%;
	height: 140px;
	border: solid 1px black;
	box-shadow: 0px 5px 10px black, -5px 0px 10px black, 0px -5px 10px black, 5px 0px 10px black;
	border-radius: 50%;
}
aside h3
{
	text-align: center;
	background-color: #4A148C;
	color: #00897B;
}
#contact
{
	height: 500px;
}

.contactLine
{
	font-weight: bold;
	color: #4A148C;
}
#aPropos
{
	height: 600px;
}
.aProposText
{
	text-align: center;
	font-weight: bold;
	color: #4A148C;
	margin : 20px;
}
#loisirs ul
{
	display: flex;
	justify-content: space-around;
	margin-left: 0;
	padding: 15px;
}

/*SECTION-----------------------------------------------------------------------------------------*/

section
{
	display: flex;
	flex-direction: column;
	width: 75%;
}

/*header*/

header
{
	display: flex;
	flex-wrap: wrap;
}
header h1
{
	width: 100%;
	margin-top: 100px;
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: 4em;
}
.nomBold
{
	font-weight: bold;
	color: #00897B;
}
.nomNormal
{
	font-weight: normal;
}
header h2
{
	width: 100%;
	margin-top: 0;
	margin-left: 50px;
	opacity: 0.6;
	font-size: 2em;
}

.jobUnder
{
 border-bottom: 3px solid #00897B;
}

/* FORMATIONS EXPE PRO */

article
{
	display: flex;
	flex-wrap: wrap;
}
article ul
{
	width: 100%;
	padding-left: 50px;
}
article h2
{
	width: 80%;
	font-size: 2em;
	margin-left: 50px;
	border-bottom: 3px solid #00897B;
}
.date
{
	width: 30%;
	opacity: 0.6;
	font-weight: bold;
	margin-top: 0px;
}
.job1, .job2
{
	width: 70%;
	text-align: left;
	opacity: 0.6;
	font-weight: bold;
}
.job1 p, .job2 p
{
	margin-top: 0px;
}
li h4
{
	font-size: 1.5em;
	margin-bottom: 0px;
	margin-top: 0px;
}

/*RECOMMANDATIONS*/

#reco
{
display: flex;
}
.recoId
{
	width: 30%;
	opacity: 0.6;
}
.recoId h4
{
	width: 100%;
	margin: 0;
	padding: 2px;
	font-size: 1em;
}
.recoId ul
{
	padding-left: 0px;
}
.idForm
{
	font-weight: bold;
}

/* MEDIA QUERIES */
/* PETITS SMARTPHONE -------------------------------------------------------------------------------------------------*/
@media (max-width: 575.98px)
{
	body
	{
		display: block;
	}
	/*ASIDE --------------------------------------------------------------------------------------------------------*/
	aside
	{
		width: auto;
		min-width: auto;
	}
	#contact
	{
		height: auto;
	}
	#contact ul
	{
		padding: 0;
	}
	#contact li
	{
		display: block;
		text-align: center;
	}
	figure p
	{
		text-align: center;
		padding: 10px 0 0 0px;
	}
	figure img
	{
		margin: 0;
	}
	#aPropos
	{
		height: auto;
	}
	.aProposText
	{
		margin: 20px 35px 20px 35px;
	}
	#loisirs ul
	{
		margin-top: 30px;
		margin-left: 0px;
		padding: 0 15px 0 15px;
	}
	/*SECTION -------------------------------------------------------------------------------------------------------*/
	section
	{
		width: auto;
	}
	header h1 
	{
		width: 100%;
	    margin: auto;
	    padding-top: 12px;
	    text-align: center;
	    font-size: 2em;
	}
	header h2
	{
		width: auto;
	    margin: auto;
	    opacity: 0.6;
	    font-size: 1.5em;
	}
	article h2 
	{
	    width: 80%;
	    font-size: 1.5em;
	    margin: 15px 32px 15px 32px;
	    text-align: center;
	    border-bottom: 3px solid #00897B;
	}
	article ul 
	{
	    width: 100%;
	    padding: 0px;
	    margin: 0px;
	}
	article li
	{
		display: block;
	}
	.date 
	{
	    width: 100%;
	    opacity: 0.6;
	    text-align: center;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.job1 , .job2
	{
	    width: 100%;
	    text-align: center;
	    opacity: 0.6;
	    font-weight: bold;
	    margin-bottom: 15px;
	}
	.job1 p, .job2 p
	{
		margin-bottom: 5px;
		margin-top: 0px;
	}
	li h4
	 {
	    font-size: 1.2em;
	    margin-bottom: 0;
	    margin-top: 0;
	}
	.recoId
	{
		width: 100%;
		text-align: center;
		padding: 10px 0 10px 0;
	}
}
/*TABLETTES----------------------------------------------------------------------------------------------*/
@media (min-width: 576px) and (max-width: 991.98px)
{
	/*ASIDE----------------------------------------------------------------------------------------------*/
	aside
	{
		width: 30%;
		min-width: 30%;
	}
	figure p
	{
		text-align: center;
	}
	figure img
	{
		margin: 15px 0 0 12px;
	}
	#contact 
	{
		height: auto;
	}
	#contact ul
	{
		padding: 0;
	}
	#contact li
	{
		display: block;
		text-align: center;
	}
	#aPropos
	{
		height: auto;
	}
	.aProposText
	{
		margin: 20px 32px 20px 32px;
	}
	/*SECTION----------------------------------------------------------------------------------*/
	section
	{
		width: 70%;
	}
	header
	{
		display: block;
	}
	header h1
	{
		width: 100%;
		font-size: 3em;
		margin: auto;
		padding: 20px 0 0 30px;
	}
	header h2
	{
		width: 100%;
		font-size: 2em;
		margin: auto;
		padding: 0 0 0 30px;
	}
	article
	{
		display: block;
	}
	article h2
	{
		width: 100%;
		margin: 30px 0 30px 0;
		padding-left: 30px;
		font-size: 1.8em;
	}
	article ul
	{
		padding-left: 30px;
	}
	.job1 p, .job2 p
	{
		font-size: 0.9em
	}
	.recoId
	{
		width: 40%;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px)
	{
		aside
		{
			width: 25%;
			min-width: 25%;
		}
	}
@media (min-width: 1200px)
	{
		body
		{
			max-width: 1440px;
		}	
	}