body
{
	background-color: yellow;
}
.PosLeft
{
	text-align: left;
}
.PosCenter
{
	text-align: center;
}
.DatesLieux
{
	font-weight: bold;
	clear: left;
	text-align: center;
	float : left;
}
.Job
{
	font-weight: bold;
	font-size: large;
}